<h1>App Component! {{helloWorld}}</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos nostrum ipsa totam aut ratione officia. Ab veniam nobis, mollitia asperiores impedit amet enim quos debitis voluptates dolorum, dolor, fugit necessitatibus!</p>
<app-home></app-home>
<app-about></app-about> 

<button (click)="clickMe()">Beni tıkla</button>
 <p [class]="pClassName">Lorem ipsum dolor sit amet.</p> <!-- property binding -->
 <p class={{pClassName}}>Lorem ipsum dolor sit amet.</p> <!-- property binding -->
<input type="text" (keyup)="changeHelloWorldVariable($event)" ><!-- event binding -->
<p [class]="setPElementClass()">Lorem ipsum dolor sit amet.</p> <!-- property binding -->

<!--FormsModule-->
<input type="text" [(ngModel)]="helloWorld">
